body {
    background-color: rgb(24, 24, 24);
}
h1 {
  color: rgb(255, 235, 121);
  padding: 0px;
  text-align: center;

  font-family: Cambria, Georgia, serif;
}
p {
  color: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-family: Cambria, Georgia, serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}